html
  head
    title Jakub Keller
    link(href="styles/layout.css", rel="Stylesheet")
    block head
  body
    h1.header Jakub Keller
    h2.sub-header Dual Technologist and Futurist
    block body
